body{
    background-color: black;
    margin: 0px;
    padding: 0px;
}
.logo img{
    height: 40px;
    width: 40px;
}
.navbar{
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}
span{
    color: white;
}
.search-bar input{
    width: 700px;
    height: 35px;
    border-radius: 20px;
    background-color: gray;
    color: white;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}